requests==2.32.3          # https://pypi.org/project/requests/
httpx==0.27.2             # https://pypi.org/project/httpx/
pydantic==2.9.2           # https://pypi.org/project/pydantic/
pydantic-settings==2.6.0  # https://pypi.org/project/pydantic-settings/
fastapi==0.115.4          # https://pypi.org/project/fastapi/
uvicorn==0.32.0           # https://pypi.org/project/uvicorn/

# Testing
pytest-cov==5.0.0         # https://pypi.org/project/pytest-cov/
pytest==8.3.3             # https://pypi.org/project/pytest/
